.form-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 300px;
}

.input {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid lightblue;
    width: 100%;
    transition: all .5s;
}

.input:focus {
    outline: none;
    border-bottom-color: #0096CD;
}

.button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0096CD;
    padding: 10px;
    cursor: pointer;
    transition: all .5s;
}

.button:hover {
    box-shadow: 5px 5px 15px lightblue;
    background-color: #0074CE;
}

.post-card {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 15px lightblue;
}

.posts-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.post-header {
    font-size: 16px;
    font-weight: bold;
    color: #0096CD;
}

.post-body {
    text-align: center;
    font-size: 14px;
}

.notification-container {
    position: relative;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #0096CD;
    border-radius: 10px;
    box-shadow: 5px 5px 15px lightblue;
    display: none;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px 0;
    border-bottom: 1px solid blue;
}