/* Здесь будем экспериментировать и писать код. */


.products-container {
    border: 1px solid lightblue;
    box-shadow: 5px 5px 15px lightblue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.product-card {
    padding: 10px;
    box-shadow: 2px 2px 15px lightblue;
    border-radius: 10px;
}

.product-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    color: #0096CD;
}

.product-category {
    font-size: 14px;
    color: #0074CE;
}

.product-price {
    font-size: 14px;
    color: lightskyblue;
}

.discounted {
    font-size: 16px;
    font-weight: bold;
    color: #33CF33;
}