.input {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid lightblue;
    transition: all .5s;
}

.input:focus {
    outline: none;
    border-bottom-color: #0096CD;
}

.error-input {
    background-color: rgb(213, 95, 95);
}

.button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0096CD;
    padding: 10px;
    cursor: pointer;
    transition: all .5s;
    width: max-content;
    margin-top: 10px;
}

.button:hover {
    box-shadow: 5px 5px 15px lightblue;
    background-color: #0074CE;
}

.form-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
